
<html>
<head>
  <title>Logger</title>
</head>
<body>
  <!-- Google tag (gtag.js) -->
  <script async
  src="https://www.googletagmanager.com/gtag/js?id=G-HSQTDR354L"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', ' G-HSQTDR354L');
  </script>
  
  <h1>Logger</h1>
  <p>This is a log message on the browser</p>

  <!-- Create a textbox -->
  <input type="text" id="textbox">

  <!-- Use JavaScript to set the text in the textbox -->
  <script>
    document.getElementById('textbox').value = 'This is a message in a textbox';
  </script>
</body>
</html>
